<p>Here are all active reservations:</p>

<table class="table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Book
      </th>
    </tr>
  </thead>
  <% @reservations.each do |reservation| %>
    <tr>
      <td>
        <%= link_to "#{reservation.name}", book_reservation_path(reservation.book_id, reservation.id) %>
      </td>
      <td>
        <%= link_to "#{Book.find(reservation.book_id).name}", book_path(reservation.book_id) %></li>
      </td>
    </tr>
  <% end %>
</table>
